.about-page {
  width: 100%;
  height: 100%;
}

.about-background {
  width: 100%;
  position: relative;
  filter: opacity(30%);
  z-index: -1;
  margin-top: -40%;
  object-position: 0 10vw;
  object-fit: cover;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 70px 50px;
  margin: 0 15vw;
  padding-bottom: 160px;
}

.about-title-background {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/about-background.svg") no-repeat;
  background-size: 100% 50%;
  padding: 10vw 0;
  margin-top: -10%;
  background-position: center;
  filter: drop-shadow(
    0 0 20px color-mix(in srgb, var(--pri1) 15%, transparent 85%)
  );
}
.about-title {
  font-size: 4rem;
  color: var(--text);
  font-weight: bold;
}

.about-footer {
  position: relative;
  z-index: 10;
  margin-top: -120px;
}

.about-content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.photo-container {
  justify-self: center;
  align-self: center;
  width: 80%;
}

.about-content .text-title {
  color: var(--text);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1vh;
}

.about-content .text-content {
  color: var(--sec1);
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .about-background {
    width: 100%;
    position: relative;
    filter: opacity(30%);
    z-index: -1;
    margin-top: -25%;
    object-position: 0 5vw;
  }

  .about-title-background {
    background-size: 180% 90%;
    padding: 10vw 0;
    margin-top: -10%;
    margin-bottom: 2.5vh;
  }

  .about-content {
    margin: 0 10vw;
    grid-template-columns: 1fr;
    gap: 5vh;
    padding-bottom: 100px;
  }

  .about-title {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .about-content .text-title {
    font-size: 2rem;
    margin: 1vh 0;
  }

  .about-content .text-content {
    font-size: 1.2rem;
  }
  .about-footer {
    margin-top: -60px;
  }
}
