.contact-page {
  width: 100%;
  height: 100%;
}

.contact-background {
  width: 100%;
  position: relative;
  filter: opacity(30%);
  z-index: -1;
  margin-top: -30%;
  overflow: hidden;
}

.contact-content {
  background: url("../assets/contact-background.svg") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20%;
  padding-bottom: 200px;
  filter: drop-shadow(0 0 20px rgba(33, 32, 71, 1));
}

.contact-title {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-form-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.contact-footer {
  position: relative;
  z-index: 10;
  margin-top: -120px;
}

@media screen and (max-width: 768px) {
  .contact-background {
    width: 100%;
    position: relative;
    filter: opacity(30%);
    z-index: -1;
    margin-top: -10%;
    object-position: 0 5vw;
  }
  .contact-content {
    background-size: 200% 100%;
    margin-top: -15%;
    filter: drop-shadow(0 0 20px rgba(33, 32, 71, 1));
  }

  .contact-title {
    margin-top: 50px;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .contact-form-container {
    width: 90vw;
  }
}
