.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  height: calc(90vh - 117px);
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: opacity(0.2);
}

.avatar {
  width: 30vh;
  height: 30vh;
  border-radius: 100%;
  object-fit: cover;
  filter: drop-shadow(0 0 40px rgba(133, 163, 171, 1));
  transition: all ease-in-out 0.3s;
  animation: drop-shadow-animation 3s infinite linear;
}

.landing-title {
  font-size: 5rem;
  font-weight: bold;
}

.landing-text {
  font-size: 2.5rem;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes drop-shadow-animation {
  0% {
    filter: drop-shadow(0 0 40px rgba(133, 163, 171, 1));
  }
  50% {
    filter: drop-shadow(0 0 60px rgba(158, 109, 200, 1));
  }
  100% {
    filter: drop-shadow(0 0 40px rgba(133, 163, 171, 1));
  }
}

@media screen and (max-width: 768px) {
  .landing-container {
    height: calc(100vh - 120px);
    margin: 0 2rem;
  }
  .landing-title {
    margin-top: 10px;
    font-size: 4rem;
  }
  .landing-text {
    font-size: 2rem;
  }
  .landing-content {
    line-height: 1.2;
  }
  .avatar {
    margin-top: 5vh;
    width: 25vh;
    height: 25vh;
  }
}
