.media-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.media-links a {
  color: var(--text);
}

@media screen and (max-width: 768px) {
  .media-links {
    gap: 15px;
  }
}
