.portfolio-background {
  width: 100%;
  position: relative;
  filter: opacity(30%);
  z-index: -1;
  margin-top: -25%;
  overflow: hidden;
}

.portfolio-footer {
  position: relative;
  z-index: 10;
  margin-top: -120px;
}
