.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 100px;
  &:nth-child(7n) {
    background-color: var(--pri4);
  }
  &:nth-child(7n + 1) {
    background-color: var(--pri3);
  }
  &:nth-child(7n + 2) {
    background-color: var(--pri2);
  }
  &:nth-child(7n + 3) {
    background-color: var(--pri1);
  }
  &:nth-child(7n + 4) {
    background-color: var(--sec1);
  }
  &:nth-child(7n + 5) {
    background-color: var(--sec2);
  }
  &:nth-child(7n + 6) {
    background-color: var(--sec3);
  }
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.08));
  &:hover {
    scale: 1.05;
  }
  transition: scale 0.2s;
}

.skill-image {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.skill-text {
  color: var(--text);
  font-size: 1.5rem;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  height: 100%;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .skill {
    padding: 10px 20px;
    border-radius: 100px;
  }
  .skill-image {
    width: 20px;
    height: 20px;
    margin-right: 7px;
  }
  .skill-text {
    font-size: 1rem;
  }
  .skill-list {
    gap: 2vw;
    width: 100%;
  }
}
