body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(22, 34, 55, 1) 0%,
    rgba(21, 28, 53, 1) 100%
  );
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  --bg: rgba(22, 34, 55, 1);
  --clr1:
  --clr2:
  --clr3:
  --clr4:
  min-height: 100vh;
}
